import React, { useState } from 'react';
import PropTypes from 'prop-types';
import { useMutation } from '@apollo/react-hooks';
// import { Meteor } from 'meteor/meteor';
import i18n from 'meteor/universe:i18n';
import Button from 'antd/lib/button';
import message from 'antd/lib/message';
import { AutoForm, LongTextField } from 'uniforms-antd';

import StyledCommentComposer from './StyledCommentComposer';

import { {{ camelCase singularName }} as {{ camelCase singularName }}Query } from '../queries/{{ pascalCase pluralName }}.gql';
import addCommentMutation from '../mutations/Comments.gql';

import CommentSchema from '../../../api/Comments/schemas/comment';

const CommentComposer = ({ {{ camelCase singularName }}Id }) => {
  const defaultDoc = { {{ camelCase singularName }}Id, comment: undefined };
  const [doc, setDoc] = useState();
  const [addComment] = useMutation(addCommentMutation, {
    ignoreResults: true,
    refetchQueries: [
      {
        query: {{ camelCase singularName }}Query,
        variables: { _id: {{ camelCase singularName }}Id },
      },
    ],
    onCompleted: () => {
      // @todo this doesn't seem to be called, is it being dismounted?
      console.log('mutation is complete');
      message.success(i18n.__('{{ pascalCase pluralName }}.comment_success'));
      // reset the form
      setDoc(defaultDoc);
    },
    onError: (error) => {
      message.error(i18n.__('{{ pascalCase pluralName }}.comment_error', { error: error.message }));
    },
  });

  const handleSubmit = (form) => {
    const cleanForm = CommentSchema.clean(form);
    addComment({
      variables: cleanForm,
      // refetchQueries: [{ query: edit{{ pascalCase singularName }}Query }],
    });
    setDoc(defaultDoc);
  };

  return (
    <StyledCommentComposer>
      <header>{i18n.__('{{ pascalCase pluralName }}.add_comment_header')}</header>
      <AutoForm
        name="comment"
        model={doc}
        schema={CommentSchema}
        onSubmit={handleSubmit}
        showInlineError
        placeholder
      >
        <LongTextField
          name="comment"
          label={false}
          placeholder={i18n.__('{{ pascalCase pluralName }}.comment_placeholder')}
        />

        <Button htmlType="submit" type="primary">
          {i18n.__('{{ pascalCase pluralName }}.comment_submit')}
        </Button>
      </AutoForm>
    </StyledCommentComposer>
  );
};

CommentComposer.propTypes = {
  {{ camelCase singularName }}Id: PropTypes.string.isRequired,
};

export default CommentComposer;
