{{#compare template '===' 'import'}}
import { Link } from 'react-router-dom';
{{else}}
{{#*inline "valueIndex" ~}}
  {{~#if reference.valueKey}}{{reference.valueKey}}{{else}}{{urlFieldKey}}{{/if ~}}
{{~/inline}}
{{#*inline "baseValue" ~}}
  {{~ parent}}.{{key ~}}
{{~/inline}}
{{#*inline "fieldKeyValueIndex" ~}}
  {{~> baseValue }}.{{#if reference.valueKey}}{{reference.valueKey}}{{else}}{{@root.urlFieldKey}}{{/if ~}}
{{~/inline}}
{{#*inline "fieldUrl" ~}}
  {{~#if reference.baseUrl}}{{convertParamsToTemplateVars reference.baseUrl}}{{else}}/{{convertParamsToTemplateVars @root.uiFolderName}}{{/if ~}}
{{~/inline}}
<>
{ {{~> baseValue}} && {{> baseValue}}.map((item) => {
  return (
    <p key={item.{{> valueIndex ~}} }>
      <Link to={{#quoteStringForJSX}}{{> fieldUrl }}/${item.{{> valueIndex ~}} }{{/quoteStringForJSX}}>
        {item.{{dataIndex~}} }
      </Link>
    </p>
  );
})}
</>
{{~/compare}}