import React from 'react';
import PropTypes from 'prop-types';
import i18n from 'meteor/universe:i18n';
import Button from 'antd/lib/button';
import { LinkContainer } from 'react-router-bootstrap';

const Edit{{ pascalCase singularName }}Button = ({ {{ urlFieldKey }}, className, disabled }) => (
  <LinkContainer to={`/{{ uiFolderName }}/${ {{~ urlFieldKey ~}} }/edit`}>
    <Button type="primary" icon="plus" className={className}>
      {i18n.__('{{ pascalCase pluralName }}.edit_{{ snakeCase shortSingularName }}')}
    </Button>
  </LinkContainer>
);

Edit{{ pascalCase singularName }}Button.defaultProps = {
  className: undefined,
  disabled: false,
};

Edit{{ pascalCase singularName }}Button.propTypes = {
  className: PropTypes.string,
  disabled: PropTypes.bool,
  {{ urlFieldKey }}: PropTypes.string.isRequired,
};

export default Edit{{ pascalCase singularName }}Button;
