{{#*inline "paramPropTypesImport"}}
  {{#ifPartialHasValue @partial-block}}
import PropTypes from 'prop-types';
  {{/ifPartialHasValue}}
{{/inline}}
{{#*inline "paramPropTypes"}}
  {{#ifPartialHasValue @partial-block}}
New{{ pascalCase singularName }}Button.propTypes = {
  {{> @partial-block}}
};

  {{/ifPartialHasValue}}
{{/inline}}
import React from 'react';
{{#> paramPropTypesImport}}
  {{#each schema.fields}}
    {{#if this.filterable}}
  {{> (lookup . 'filterTemplateFile' ) template='ui/paramPropTypes'}}
    {{/if}}
  {{/each}}
{{/paramPropTypesImport}}
import i18n from 'meteor/universe:i18n';
import Button from 'antd/lib/button';
import PlusIcon from '@ant-design/icons/PlusOutlined';
import { LinkContainer } from 'react-router-bootstrap';

const New{{ pascalCase singularName }}Button = ({{#prettyProps}}
{{#each schema.fields}}
  {{#if this.filterable}}
  {{> (lookup . 'filterTemplateFile' ) template='ui/paramVariables'}}
  {{/if}}
{{/each}}
  ...props
{{/prettyProps}}) => (
  <LinkContainer to={{#quoteStringForJSX}}{{convertParamsToTemplateVars uiRouteBasePath }}/new{{/quoteStringForJSX}}>
    <Button type="primary" icon={<PlusIcon />} {...props}>
      {i18n.__('{{ pascalCase pluralName }}.new_{{ snakeCase shortSingularName }}')}
    </Button>
  </LinkContainer>
);

{{#> paramPropTypes}}
  {{#each schema.fields}}
    {{#if this.filterable}}
  {{> (lookup . 'filterTemplateFile' ) template='ui/paramPropTypes'}}
    {{/if}}
  {{/each}}
{{/paramPropTypes}}
export default New{{ pascalCase singularName }}Button;
