import React from 'react';
import PropTypes from 'prop-types';
import i18n from 'meteor/universe:i18n';
import Button from 'antd/lib/button';
import { LinkContainer } from 'react-router-bootstrap';

const New{{ pascalCase singularName }}Button = (props) => (
  <LinkContainer to="/{{ dashCase pluralName }}/new">
    <Button type="primary" icon="plus" {...props} >
      {i18n.__('{{ pascalCase pluralName }}.new_{{ snakeCase singularName }}')}
    </Button>
  </LinkContainer>
);

New{{ pascalCase singularName }}Button.defaultProps = {
  className: undefined,
  disabled: false,
};

New{{ pascalCase singularName }}Button.propTypes = {
  className: PropTypes.string,
  disabled: PropTypes.bool,
};

export default New{{ pascalCase singularName }}Button;
