import React from 'react';
import i18n from 'meteor/universe:i18n';
import Button from 'antd/lib/button';
import { LinkContainer } from 'react-router-bootstrap';

const New{{ pascalCase singularName }}Button = (props) => (
  <LinkContainer to="{{ uiRouteBasePath }}/new">
    <Button type="primary" icon="plus" {...props}>
      {i18n.__('{{ pascalCase pluralName }}.new_{{ snakeCase shortSingularName }}')}
    </Button>
  </LinkContainer>
);

export default New{{ pascalCase singularName }}Button;
