import React from 'react';
import PropTypes from 'prop-types';
import i18n from 'meteor/universe:i18n';
{{#uniqueImports}}
import { useHistory } from 'react-router-dom';
import { useMutation } from '@apollo/client';
import Button from 'antd/lib/button';
import modal from 'antd/lib/modal';
import message from 'antd/lib/message';
{{/uniqueImports}}

import { {{ camelCase pluralName }} as {{ camelCase pluralName }}Query } from '../queries/{{ pascalCase pluralName }}.gql';
import { remove{{ pascalCase singularName }} as remove{{ pascalCase singularName }}Mutation } from '../mutations/{{ pascalCase pluralName }}.gql';

function Remove{{ pascalCase singularName }}Button({{#prettyProps}} 
{{#compare primaryFieldKey '!==' labelFieldKey}}
  {{ primaryFieldKey }}, 
  {{ labelFieldKey }},
{{else}}
  {{ primaryFieldKey }},
{{/compare}}
{{#each schema.fields}}
  {{#if this.filterable}}
  {{> (lookup . 'filterTemplateFile' ) template='ui/paramVariables'}}
  {{/if}}
{{/each}}
  ...props
  {{/prettyProps}}) {
  const history = useHistory();

  const [remove{{ pascalCase singularName }}] = useMutation(remove{{ pascalCase singularName }}Mutation, {
    ignoreResults: true,
    onCompleted: () => {
      message.success(i18n.__('{{ pascalCase pluralName }}.{{ snakeCase shortSingularName }}_saved'));
      history.push({{#quoteString}}{{convertParamsToTemplateVars uiRouteBasePath }}{{/quoteString}});
    },
    onError: (error) => {
      message.error(error.message);
    },
    refetchQueries: [{ query: {{ camelCase pluralName }}Query }],
    variables: { {{ primaryFieldKey }} },
  });

  function showConfirmModal() {
    modal.confirm({
      title: i18n.___('{{ pascalCase pluralName }}.confirm_remove_{{ snakeCase shortSingularName }}', { {{#compare labelFieldKey '!==' 'name'}}name: {{/compare}}{{ labelFieldKey }}{{#if labelKey.dataIndex}}.{{labelKey.dataIndex}}{{/if}} }),
      onOk: remove{{ pascalCase singularName }},
      okText: i18n.__('{{ pascalCase pluralName }}.remove'),
      okType: 'danger',
      okButtonProps: { 'data-testid': 'remove-{{ dashCase singularName }}-ok-button' },
      cancelText: i18n.__('{{ pascalCase pluralName }}.cancel'),
      cancelButtonProps: { 'data-testid': 'remove-{{ dashCase singularName }}-cancel-button' },
    });
  }

  return (
    <Button
      key={ {{~ primaryFieldKey ~}} }
      type="danger"
      onClick={showConfirmModal}
      data-testid="remove-{{ dashCase singularName }}-button"
      {...props}
    >
      {i18n.__('{{ pascalCase pluralName }}.remove_{{ snakeCase shortSingularName }}')}
    </Button>
  );
}

Remove{{ pascalCase singularName }}Button.propTypes = {
  {{ primaryFieldKey }}: PropTypes.string.isRequired,
  {{ labelFieldKey }}: PropTypes.string.isRequired,
{{#each schema.fields}}
  {{#if this.filterable}}
  {{> (lookup . 'filterTemplateFile' ) template='ui/paramPropTypes'}}
  {{/if}}
{{/each}}
};

export default Remove{{ pascalCase singularName }}Button;
