import React, { useState } from 'react';
import PropTypes from 'prop-types';
{{#uniqueImports}}
import { useHistory } from 'react-router-dom';
import i18n from 'meteor/universe:i18n';
import { useQuery } from '@apollo/client';
  {{#if isSearchable}}
import Input from 'antd/lib/input';
  {{/if}}
import Table from 'antd/lib/table';
import New{{ pascalCase singularName }}Button from './New{{ pascalCase singularName }}Button';
  {{#if schema.permissions.create}}
import hasRole from '{{uiPathOffset}}../../../libs/hasRole';
  {{/if}}
import useQueryStringObject from '{{uiPathOffset}}../../../libs/hooks/useQueryStringObject';
  {{#each schema.fields ~}}
    {{#compare this.filterable '&&' this.showInTableView}}
{{> (lookup . 'filterTemplateFile' ) template='ui/imports' uiPathOffset=(concat @root.uiPathOffset "../")}}
    {{/compare}}
    {{#compare this.input '!==' 'Hidden' '&&' this.showInTableView '===' true}}
      {{#if this.tableTemplateFile}}
{{> (lookup . 'tableTemplateFile' ) template='imports' uiPathOffset=(concat @root.uiPathOffset "../")}} 
      {{/if}}
    {{/compare~}}
  {{~/each}}
{{/uniqueImports}}

// import Styled{{ pascalCase pluralName }}Table from './Styled{{ pascalCase pluralName }}Table';

import { {{ camelCase pluralName }} as {{ camelCase pluralName }}Query } from '../queries/{{ pascalCase pluralName }}.gql';
{{#if isSearchable}}

const { Search } = Input;
{{/if}}

{{!-- if a filterable field has choices create a function to generate the correct object for antd Table  --}}
{{#each schema.fields}}
    {{#compare this.filterable '&&' this.showInTableView}}
{{> (lookup . 'filterTemplateFile' ) template='ui/helpers'}}
    {{/compare}}
{{/each}}

function {{ pascalCase pluralName }}Table({{#prettyProps}} 
  roles, 
  showNew{{ pascalCase singularName }}Button, 
{{#if isSearchable}}
  showSearch, 
{{/if}}
  showSizeChanger,
  queryKeyPrefix, 
{{#each schema.fields}}
  {{#compare this.filterable '&&' this.showInTableView}}
  {{> (lookup . 'filterTemplateFile' ) template='ui/paramVariables'}}
  {{/compare}}
{{/each}}
  ...props
  {{/prettyProps}}) {
  const history = useHistory();

  const [queryStringObject, setQueryStringObject] = useQueryStringObject(queryKeyPrefix);
  const {{#prettyProps 40}}
    page,
    pageSize,
    sort,
    order,
{{#if isSearchable}}
    search,
{{/if}}
{{#each schema.fields}}
  {{#compare this.filterable '&&' this.showInTableView}}
    {{> (lookup . 'filterTemplateFile' ) template='ui/queryStringVariables'}}
  {{/compare}}
{{/each}}
  {{/prettyProps}} = { ...props, ...queryStringObject };

  const [currentPage, setCurrentPage] = useState(parseInt(page, 10));
  const [currentPageSize, setCurrentPageSize] = useState(parseInt(pageSize, 10));
  const [currentSort, setCurrentSort] = useState(sort);
  const [currentOrder, setCurrentOrder] = useState(order);
{{#if isSearchable}}
  const [currentSearch, setCurrentSearch] = useState(search);
{{/if}}
{{#each schema.fields}}
  {{#compare this.filterable '&&' this.showInTableView}}
  {{> (lookup . 'filterTemplateFile' ) template='ui/useState'}}
  {{/compare}}
{{/each}}

  const { loading, data: { {{ camelCase pluralName }} } = {} } = useQuery({{ camelCase pluralName }}Query, {
    fetchPolicy: 'cache-and-network',
    variables: {
      page: currentPage,
      pageSize: currentPageSize,
      sort: currentSort,
      order: currentOrder,
{{#if isSearchable}}
      search: currentSearch,
{{/if}}
{{#each schema.fields}}
  {{#compare this.filterable '&&' this.showInTableView}}
      {{> (lookup . 'filterTemplateFile' ) template='ui/useQueryVariablesKeys'}}
  {{/compare}}
{{/each}}
    },
  });

{{#each schema.fields}}
  {{#compare this.filterable '&&' this.showInTableView}}
  {{> (lookup . 'filterTemplateFile' ) template='ui/addtionalHooks'}}

  {{/compare}}
{{/each}}


const paginationObject = {
    currentPageSize,
    // onChange: this.onPageChange,
  };

  const columns = [
{{#each schema.fields ~}}
  {{#compare this.input '!==' 'Hidden' '&&' this.showInTableView '!==' false}}
    {{~#compare this.input '||' this.showInTableView }}
    {
      title: i18n.__(' {{~ pascalCase @root.name ~}} .{{ snakeCase @key }}'),
      dataIndex: {{#if this.dataIndex}}['{{ @key }}'{{#compare this.type '!startsWith' '['}}, '{{ this.dataIndex }}'{{/compare}}]{{else}}'{{ @key }}'{{/if}},
      {{#compare this.tableTemplateFile '||' this.tableTemplate}}
        {{#compare this.type 'in' 'Date|DateTime|Time'}}
      sorter: true,
      sortOrder: currentSort === '{{ @key }}' && currentOrder,
         {{/compare}}
        {{#if this.tableTemplateFile}}
      render: (value, record) => ({{> (lookup . 'tableTemplateFile' ) value='value' parent='record' key=@key template='render'}}),
        {{else}}
      render: (value, record) => ({{{this.tableTemplate}}}),
        {{/if}}
      {{else}}
      {{#compare this.type '===' 'String'}}
        {{#compare this.choices '!typeof' 'object'}}
      sorter: true,
      defaultSortOrder: 'ascend',
      sortOrder: currentSort === '{{ @key }}' && currentOrder,
      // render: (value, record) => <Link to={`/{{ dashCase @root.name }}/${record.{{ @root.urlFieldKey ~}} }/edit`}>{value}</Link>, // eslint-disable-line
        {{/compare}}
      {{/compare}}
      {{#compare this.type '===' 'Boolean'}}
      sorter: true,
      // defaultSortOrder: 'ascend',
      sortOrder: currentSort === '{{ @key }}' && currentOrder,
      render: (value, record, index) => i18n.__(`{{ pascalCase @root.name }}.${value ? 'yes' : 'no'}`),
      {{/compare}}
      {{#compare this.type 'in' 'Int|Number|Float'}}
      sorter: true,
      // defaultSortOrder: 'ascend',
      // render: (value, record) => value, // eslint-disable-line
      {{/compare}}
      {{#compare this.choices 'typeof' 'object'  }}
      sorter: true,
      // defaultSortOrder: 'ascend',
      sortOrder: currentSort === '{{ @key }}' && currentOrder,
      render: (value, record) => i18n.__(`{{ pascalCase @root.name }}.{{@key}}_${value}`), // eslint-disable-line
      {{/compare}}
      {{#compare this.type 'startsWith' '['}}
      sorter: true,
      sortOrder: currentSort === '{{ @key }}' && currentOrder,
      render: (value) => value && value{{#if this.dataIndex}}.map((item) => item && item.{{ this.dataIndex }}){{/if}}
      {{~#compare this.type '===' '[String]'}}.map((item) => i18n.__(`{{ pascalCase @root.name }}.{{@key}}_${item}`)){{/compare}}.join(', '),
      {{/compare}}
      {{/compare}}
      {{#if this.filterable}}
      {{> (lookup . 'filterTemplateFile' ) template='ui/columnKeys'}}
      {{/if}}
    },
    {{/compare}}
  {{/compare}}
{{/each}}
  ];

  // complete paginationObject
  if ({{ camelCase pluralName }} && {{ camelCase pluralName }}.{{ camelCase pluralName }}) {
    paginationObject.total = {{ camelCase pluralName }}.total;
    paginationObject.current = currentPage;
  }
{{#if isSearchable}}
  function handleSearch(value) {
    setCurrentSearch(value);
    setQueryStringObject({
      search: value,
    });
  }
{{/if}}

  function handleTableChange(pagination, filters, sorter) {
{{#if isFilterable}}
    const {
  {{#each schema.fields}}
    {{#compare this.filterable '&&' this.showInTableView}}
      {{> (lookup . 'filterTemplateFile' ) template='ui/handleTableChangeNewKeys'}}
    {{/compare}}
  {{/each}}  
    } = filters;

{{/if}}
    const currentField = sorter.field ? sorter.field.split('.')[0] : 'createdAtUTC';

    const $newOrder = sorter.order ? sorter.order : null;

    setCurrentPage(pagination.current);
    setCurrentPageSize(pagination.pageSize);
    setCurrentOrder($newOrder);
    setCurrentSort(sorter.field);
{{#each schema.fields}}
  {{#compare this.filterable '&&' this.showInTableView}}
    {{> (lookup . 'filterTemplateFile' ) template='ui/handleTableChangeSetState'}}
  {{/compare}}
{{/each}}  

    setQueryStringObject({
      page: pagination.current,
      pageSize: pagination.pageSize,
      sort: currentField,
      order: $newOrder,
{{#each schema.fields}}
  {{#compare this.filterable '&&' this.showInTableView}}
      {{> (lookup . 'filterTemplateFile' ) template='ui/handleTableChangeSetQueryObjectKey'}}
  {{/compare}}
{{/each}}  
    });
  }

  function handleTableRow(record) {
    return {
      onClick: () => {
        history.push({{#quoteString}}{{#if schema.tableRowClickUrl}}{{schema.tableRowClickUrl}}{{else}}{{convertParamsToTemplateVars uiRouteBasePath }}/${record.{{ urlFieldKey ~}} }{{/if}}{{/quoteString}});
      },
    };
  }

  return (
    <>
      <p>
        { showNew{{ pascalCase singularName }}Button {{#if schema.permissions.create}}&& hasRole(roles, [{{#each schema.permissions.create }}'{{this}}'{{#unless @last}}, {{/unless}}{{/each}}]) {{/if}}&& (
          <New{{ pascalCase singularName }}Button 
{{#each schema.fields}}
  {{#compare this.filterable '&&' this.showInTableView}}
            {{> (lookup . 'filterTemplateFile' ) template='ui/componentProps'}}
  {{/compare}}
{{/each}}
          />)}&nbsp;
        {{#if isSearchable}}
        { showSearch && (<span className="pull-right" style=\{{ width: 300 }}>
          <Search
            placeholder={i18n.__('{{ pascalCase pluralName }}.search_placeholder')}
            onSearch={handleSearch}
            defaultValue={currentSearch}
            allowClear
            enterButton
          />
        </span>)}
        {{/if}}
      </p>
      <Table
        columns={columns}
        dataSource={ {{~ camelCase pluralName }}?.{{ camelCase pluralName ~}} }
        loading={loading}
        onChange={handleTableChange}
        onRow={handleTableRow}
        rowKey="{{ primaryFieldKey }}"
        pagination={paginationObject}
        rowClassName="clickable"
        showSizeChanger={showSizeChanger}
      />
    </>
  );
}

{{ pascalCase pluralName }}Table.defaultProps = {
  showNew{{ pascalCase singularName }}Button: false,
  queryKeyPrefix: undefined,
  page: 1,
  pageSize: 10,
  sort: '{{#if schema.defaultSortField}}{{schema.defaultSortField}}{{else}}{{labelFieldKey}}{{/if}}',
  order: '{{#if schema.defaultSortOrder}}{{schema.defaultSortOrder}}{{else}}ascend{{/if}}',
{{#if isSearchable}}
  search: undefined,
  showSearch: true,
  showSizeChanger: true,
{{/if}}
{{#each schema.fields}}
  {{#compare this.filterable '&&' this.showInTableView}}
  {{> (lookup . 'filterTemplateFile' ) template='ui/queryStringDefaultPropsKeys'}}
  {{/compare}}
{{/each}}
};

{{ pascalCase pluralName }}Table.propTypes = {
  roles: PropTypes.array.isRequired,
{{#each schema.fields}}
  {{#compare this.filterable '&&' this.showInTableView}}
  {{> (lookup . 'filterTemplateFile' ) template='ui/paramPropTypes'}}
  {{/compare}}
{{/each}}
  showNew{{ pascalCase singularName }}Button: PropTypes.bool,
  queryKeyPrefix: PropTypes.string,
  page: PropTypes.number,
  pageSize: PropTypes.number,
  sort: PropTypes.string,
  order: PropTypes.string,
{{#if isSearchable}}
  search: PropTypes.string,
  showSearch: PropTypes.bool,
  showSizeChanger: PropTypes.bool,
{{/if}}
{{#each schema.fields}}
  {{#compare this.filterable '&&' this.showInTableView}}
  {{> (lookup . 'filterTemplateFile' ) template='ui/queryStringPropTypes'}}
  {{/compare}}
{{/each}}
};

export default {{ pascalCase pluralName }}Table;
